<div class="jumbotron">
  <h1 class="display-4">The Eventbrite Killer</h1>
  <p class="lead">Dis bye bye à Eventbrite!</p>
  <!--   <hr class="my-4">   -->
  <p class="lead">
    <% if !current_user%>  <%= link_to "Connexion", new_user_session_path, class:"btn btn-primary btn-lg" %> <% else %> <%= link_to "Créer un event", new_event_path, class:"btn btn-primary btn-lg" %>  <% end %>
  </p>
</div>