
 @font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

:root{
  --color-primary: #219ebc;
  --color-primary-light: #8ecae6;
  --color-primary-dark: #023047;

  --color-secondary: #fb8500;
  --color-secondary-light: #ffb703;

  --color-danger: #ff6761;
  --color-success: #04d1b6;
  --color-info: #318f82;
  --color-warning: #fae18e;

  --color-white: #fffefe;
  --color-grey-1: #f1f1f1;
  --color-grey-2: #e2e2e2;
  --color-grey-3: #d4d4d4;
  --color-dark: #1b1b1b;
  --color-white: #fcf8f8;

  --primary-gradient: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
  --secondary-gradient: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
  --tertiary-gradient: linear-gradient(to right, var(--color-primary-light), var(--color-grey-3));

  --danger-gradient: linear-gradient(to right,#ffcccb, var(--color-danger));

  --primary-gradient-btn: radial-gradient(var(--color-primary), var(--color-primary-light));
  --secondary-gradient-btn: radial-gradient(var(--color-danger) 80%,var(--color-secondary));
}

*{
  box-sizing: border-box;
 }


* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Cyber', sans-serif;
  padding-top: 60px;
}

h2{
  margin-top: 1rem;
}

.alert{
  width:100%;
}

.event_pictures_box {
  display: flex;
  gap: 1rem;
}

.event_pictures {
  height: 10px;
  width: auto;
}

body .cybr-btn + .cybr-btn {
  margin-top: 2rem;
}

.show_event_pictures {
  height: 200px;
}

.show_event_pictures img {
  height: 100%;
}

.jumbotron{
  background: linear-gradient(to right, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 70vh;
  padding: 10rem;
  color: white;
  width: 100%;
}

.jumbotron a:visited{
  color: inherit;
}

header{
    width: 100%;
}

.event-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  gap: 3rem;
  justify-items: center;
  width: 80%;
  margin:2rem;
}

.event-card{
  transition: 0.25s all;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-body{
    display: flex;
    flex-direction: column;
  justify-content: space-between;
}

/* .card-body > *{
  border:1px red solid;
} */

.event-card:hover{
  transform: scale(1.01);
}

.table{
  margin:3rem;
}

.event-details{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.39);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.event-details li:not(:last-child){
  margin-right: 5rem;
}

.event-show{
  display: flex;
  justify-content: space-around;
  align-items: center;
}