<h1>Salut <%= current_user.first_name %>, ça farte ?</h1>

<ul class="admin-menu">
<li> <%= link_to 'modifier la table Users' %> </li>
<li> <%= link_to 'modifier la table Events' %> </li>
<li> <%= link_to 'modifier la table Attendances' %> </li>
</ul>