<h1>Salut <%= current_user.first_name %>, ça farte ?</h1>

<ul class="nav flex-column">
<li class="nav-item"> <%= link_to 'modifier la table Users',admin_users_path %> </li>
<li class="nav-item"> <%= link_to 'modifier la table Events',admin_events_path %> </li>
<li class="nav-item"> <%= link_to 'modifier la table Attendances' %> </li>
</ul>


