

<footer>
  <div>
    <ul>
      <h4>A propos</h4>
      <li><a href="#">Lorem, ipsum dolor.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
    </ul>
    <ul>
      <h4>Coworking</h4>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
    </ul>
    <ul>
      <h4>Professionnels</h4>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
    </ul>
    <ul>
      <h4>Assistance</h4>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
    </ul>
  </div>
</footer>
